<!DOCTYPE html>
<% include ../partials/header %> 

<body>
    <% include ../partials/navbar %> 
    <div class="container">
        <h1>Update Patient</h1>

        <form method="POST" action="/AccountDetails/update">
            <input type="hidden" name="id" value="<%=data._id%>" />
            <div class="form-group row mt-3">
                <div class="w-25">
                    <label for="FirstName%">First Name: </label> 
                    <input class="form-control" name="firstName" type="text" value="<%=data.FirstName%>"/>
                </div>
                <div class="w-25 ml-3">
                    <label for="LastName">Last Name: </label>
                    <input class="form-control" name="lastName" type="text" value="<%=data.LastName%>">
                </div>   
            </div>
            <div class="form-group row mt-3">
                <div class="w-25">
                    <label for="Email">Email: </label>
                    <input class="form-control" name="email" type="text" value="<%=data.Email%>">
                </div>
                <div class="w-25 ml-3">
                    <p>If you specify a password, the user password will be changed.</p>
                    <label for="Password">Password: </label>
                    <input class="form-control" name="password" type="text" value="<%=data.Password%>">
                </div>
            </div>
 
            <div class="form-group row mt-3">
                <div class="w-25"> 
                    <label for="Role">Role: </label>
                    <select class="form-control" id="userRole" name="role">
                        <option value="Choose...">Choose...</option>
                        <option value="Admin">Admin</option>
                        <option value="Doctor">Doctor</option>
                        <option value="Employee">Employee</option>
                    </select>
                </div>
            </div>
            <div class="form-group row mt-3" style="width: 25%; display: flex; justify-content: space-between">
                <input  type="submit" class="btn btn-primary" value="Submit" style="width:80px;"> 
                <a class="btn btn-primary" href="/AccountDetails" style="width: 80px;">Back</a>
            </div>
        </form>
    </div>
    <% include ../partials/scripts %> 
    <script>
        $(document).ready(function() {
            $("#userRole option[value=<%=data.Role%>]").prop('selected', true);
        })

    </script>
</body>