<!DOCTYPE html>
<% include ../partials/header %> 

<body>
    <% include ../partials/navbar %> 
    <div class="container">
        <h1>Update Patient</h1>

        <form method="POST" action="/AccountDetails/update">
            <input type="hidden" name="id" value="<%=data._id%>" />
            <div class="form-group row mt-3">
                <div class="w-25">
                    <label for="FirstName%">First Name: </label> 
                    <input class="form-control" name="FirstName" type="text" value="<%=data.FirstName%>"/>
                </div>
                <div class="w-25 ml-3">
                    <label for="LastName">Last Name: </label>
                    <input class="form-control" name="LastName" type="text" value="<%=data.LastName%>">
                </div>   
            </div>
            <div class="form-group row mt-3">
                <div class="w-25">
                    <label for="Email">Email: </label>
                    <input class="form-control" name="Email" type="text" value="<%=data.Email%>">
                </div>
                <div class="w-25 ml-3">
                    <label for="Password">Password: </label>
                    <input class="form-control" name="Password" type="text" value="<%=data.Password%>">
                </div>
            </div>
 
            <div class="form-group row mt-3">
                <div class="w-25"> 
                    <label for="Role">Role: </label>
                    <input class="form-control" name="Role" type="text" value="<%=data.Role%>">
                </div>
               
                </div>
            </div>
            <div class="form-group row mt-3" style="width: 25%; display: flex; justify-content: space-between">
                <input  type="submit" class="btn btn-primary" value="Submit" style="width:80px;"> 
                <a class="btn btn-primary" href="/AccounntDetails" style="width: 80px;">Back</a>
            </div>
        </form>
    </div>
    <% include ../partials/scripts %> 

</body>